// Botón para alternar tema
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 0.9rem;
    @include flex(row, center, center);
    gap: 5px;
    z-index: 1000;
  
    img {
      width: 20px;
      height: 20px;
      filter: var(--icon-filter); // Filtro para cambiar el color del icono
    }
  
    @include respond-to(tablet) {
      top: 10px;
      right: 10px;
    }
  }
  
  // Versión
  .version {
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
    opacity: 0.7;
  }